[server]
url = https://app.obico.io
auth_token = a57d31dd2fb83b63a304

[moonraker]
host = 127.0.0.1
port = 7125

[webcam]
disable_video_streaming = False

# CAUTION: Don't set this section unless you know what you are doing
#   In most cases webcam configuration will be automatically retrieved from moonraker
#
snapshot_url = http://127.0.0.1:4409/webcam/?action=snapshot
stream_url = http://127.0.0.1:4409/webcam/?action=stream
# target_fps = 25
# flip_h = False
# flip_v = False
# rotate_90 = False
# aspect_ratio_169 = False

[logging]
path = /usr/data/printer_data/logs/moonraker-obico.log

[tunnel]
# CAUTION: Don't modify the settings below unless you know what you are doing
dest_host = 192.168.31.42
dest_port = 4409
# dest_is_ssl = False

[misc]
sentry_opt: in
